*{
    margin:0;
    padding:0;
}
.wrapper{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*border:2px solid black;*/
    margin: 0px auto;
    max-width:1000px;
    height:550vh;
}
.wrapper header{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.wrapper header .logo a img{
    height:40px;
    border-radius:50%;
    margin-left: 20px;
    margin-top: 18px;
}
.wrapper header nav{
    margin-right:20px;
    
}
.wrapper header nav ul{
    display:flex;
}
.wrapper header nav ul li{
    list-style:none;
    margin-left:20px;
}
.wrapper header nav ul li a{
    text-decoration:none;
    color:black;
    
    font-size:20px;
}
.wrapper header nav ul li a:hover{
    color:lightblue;
}
.wrapper main .banner{
    margin-top:30px;
}
.wrapper main .banner img{
    max-width:1000px;

}
.wrapper main .info{
    margin-top:40px;
    text-align:center;
}
.wrapper main .info p{
    padding-left:120px;
    padding-right:120px;
}
.wrapper main .info a{
    color:white;
    text-decoration:none;
    background-color:blue;
    padding:10px 17px;
    border-radius:10px;
    
}
.wrapper main .person{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:50px;
    text-align:center;
}

.wrapper main .person .same{
    height:300px;
    width:200px;
    border:2px solid black;
    margin-left:20px;
    box-shadow:0px 0px 20px grey;
    border-radius:10px;

}
.wrapper main .person .same:hover{
    background-color:grey;
}
.wrapper main .person .same img{
    margin: 10px 15px;


}
.wrapper main .projects{
    margin-top:60px;
    text-align:center;
}
.wrapper main .projects p{
    margin-top:10px;
}
.wrapper main .projects .pics{
    margin-top:30px;
    height:410px;
    /*border:2px solid black;*/
}
.wrapper main .projects .pics .sameas{
    width:240px;
    height:180px;
    /*border:2px solid green;*/
    float:left;
    margin:5px 0px 5px 5px;
}
.wrapper main .projects .pics .sameas img{
    max-width:240px;
}
.wrapper main .projects a{
    
    color:white;
    text-decoration:none;
    background-color:blue;
    padding:10px 17px;
    border-radius:10px;
    

}
.wrapper main .table{
    margin-top:30px;
    
}
.wrapper main .table p{
    margin-top:20px;
}
.wrapper main .table table{
    text-align:center;
    width:1000px;
    height:500px;
    /*border:2px solid red;*/
    border-collapse:collapse;
}
.wrapper main .table table td,th{
    border-bottom:2px solid grey;
}
.wrapper main .form {
    
    text-align:center;
    height:800px;
    max-width:380px;
    margin:30px auto;
    /*border:2px solid grey;*/
    
}
.wrapper main .form form{
    text-align:left;
}
.wrapper main .form form textarea{
    resize:none;
    height:100px;
    width: 385px;
    border-radius: 6px;
    margin-top:12px;
}
.wrapper main .form form label{
    font-weight:bold;
    
}
.wrapper main .form form .input{
    height:35px;
    width: 385px;
    border-radius: 6px;
    margin-top:12px;
}
.wrapper main .form form .about .input{
    height:120px;
    width: 385px;
    border-radius: 6px;

}
.wrapper main .form form select{
    height:40px;
    width: 390px;
    border-radius: 6px;

}
.wrapper main .form form .f{
    margin-top: 30px;
}
.wrapper main .form form .button button{
    height: 40px;
    margin-top:15px;
    width: 100px;
    background-color:green;
    color:white;
    border-radius:10px;
}
.wrapper footer{
    height:500px;
    width:1000px;
    /*border:2px solid red;*/
    display:flex;
    background-color:aliceblue;
}
.wrapper footer .firsthalf{
    width:50%;
    /*border: 2px solid green;*/
    text-align:center;
}
.wrapper footer .secondhalf{
    width:50%;
    /*border: 2px solid green;*/
}
.wrapper footer .firsthalf img{
    max-width:80%;
}
.wrapper footer .secondhalf form .f{
    margin-top: 30px;
    

}
.wrapper footer .secondhalf form label{
    font-weight:bold;
}
.wrapper footer .secondhalf form .f input {
    height:30px;
    width: 385px;
    border-radius: 6px;
    

}
.wrapper footer .secondhalf form .button button{
    
    height: 40px;
    margin-top:15px;
    width: 100px;
    background-color:blue;
    color:white;
    border-radius:10px;

}
.wrapper footer .secondhalf form .ff textarea{
    resize:none;
     height:100px;
    width: 385px;
    border-radius: 6px;
    box-shadow:0px 0px 10px grey;

}